*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image:radial-gradient(black,grey);
	font-family: 'Kaushan Script', cursive;
	color: #fff;
}
h1{
	text-align: $textos-centrados;
	font-size: 24px;
}	
/* Navegador*/
nav{
    a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 16px;
	text-align: $textos-centrados;
	text-decoration:none;
	color: #fff;
	padding-right:2px;
    padding-left: 2px;
    }

    li{
	background-color:#000;
	border:1px solid #000;
	text-align: $textos-centrados;  
	margin: 1px;
	padding-right: 1px;
	padding-left: 1px;
    }
} 
/*Logo*/
.logo{
	width: 180px;
	height: 120px; 
}
.logo:hover{
    background-color:black;
    border-radius: 20%;
    }

/*Video*/
.videoResponsive{
    position: relative;
    margin: 0 auto;
    padding-bottom: 56.25%;
   
    iframe {
	    position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
    }	
}    
.temas{
	display: none;
}
/*Títulos*/
h2{
    margin-bottom: 20px;
    text-align: $textos-centrados;
    font-size: 22px;
}
h3{
	font-size: 16px;
	text-align: $textos-centrados;
	margin-top: 60px;
	margin-bottom: 20px;
	color: aquamarine;
}
/*Sección escondida*/
.fotosLocas{
	display: none;
}
/*Footer*/
footer{
	color:#FFFFFF;
	text-align: $textos-centrados;
	padding-top: 50px;
}
.imgredes-flex{
	padding: 5px;
	filter: grayscale(100%);	
}
/* media queries*/
@media (min-width:992px){

body{
    background-image:radial-gradient(black,grey);
    font-family: 'Kaushan Script', cursive;
}
ul{
    width: 80%;
}
h1{
    color:#FFFFFF;
    text-align: $textos-centrados;
    margin-top:80px;
    margin-bottom:80px;
    font-size: 45px;
}
img{
    display:inline;
    margin:auto;
}
.logo{
    width:300px;
    height: 180px; 
}
.logo:hover{
    background-color:black;
    border-radius: 20%;
}
h2{
    color: #FFFFFF;
    margin-top: 30px;
    font-size: 32px;
    text-align: $textos-centrados;
}
ul{ color: #FFFFFF;
}
h3{ 
    text-align: center;
    font-size: 22px;
}
/* Navegador*/
nav {
     a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 16px;
        text-align: $textos-centrados;
        text-decoration:none;
        color:#fff;
    }
      
    li{
        display:inline-block;
        width:10%;
        padding:5px 10px;
        margin: 20px;
        background-color:#000;
        border:1px solid #000;
        text-align:$textos-centrados;  
    }

    nav li:hover{
        background-color:rgb(92, 91, 91);
        color:#000;
    }
 }
 /*Contenedor principal*/
.centralFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
/*Video*/
.videoResponsive{
    width: 40%;
    padding-bottom:20%;
}
/* Lista de canciones */
.temas{
    display:flex;
    flex-direction: column;
    background-image: url(../img/8.jpg);
    background-size: cover; 
    background-position: center;
    width: 40%;
    height: 50%;

    .temas__titulo{
        margin-left: auto;
        font-size: 24px;
        font-weight: bold;
        color: #000000;
    }	
    .temas__lista{
        text-align: center;
        font-weight: bold;
        line-height: 1.5;
        color: black;
        margin-bottom: 20px;
        font-size: 25px;
        list-style: none;
    }	
}
/* Presentación */
.fotosLocas{
        display:block;
    }
.animate__animated.animate__bounceInRight{
    --animate-duration: 4s;
    animation-iteration-count: 5;
}
.animate__animated.animate__bounceInLeft{
    --animate-duration: 4s;
    animation-iteration-count: 5;
}

.titulos{
        border-radius: 10%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 22px;
        color: rgb(36, 215, 221);
        text-align: $textos-centrados;
    }
/* Redes*/
.redes-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}		
.imgredes-flex{	
    padding: 5px;
    filter: grayscale(100%);	
}
.imgredes-flex:hover{
    background-color:white;
}
/* Fin de página*/
footer{
    color:#FFFFFF;
    text-align:center;
    padding-top: 20px;
}
}